<details>
  <summary><h3>{{ include.title | default: Project }}</h3></summary>
  <p>
    {{ include.description | default: Description }}
  </p>

  {% if include.links %}
  <p>
    Links:
    {% assign links = {{include.links}} | split: "; " %}
    {% for item in links %}
    {% assign destructured = item | split: ", " %}
    <a href="{{ destructured[1] }}">{{ destructured[0] }}</a>
    {% if forloop.rindex != 1 %}
    ●
    {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  {% if include.img %}
  {% include figure.html image=include.img alt="Image with just alt text" %}
  {% endif %}
</details>
