---
title: false
styles: true
---

@import "alembic";

.typeset {
    .highlighted {
        background-color: rgba(0,0,0,0.5);
	padding: 10px;
    }
}

//text highlight
.highlighted {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
}

//white text
.whitetext{
  color: white !important;
}
