---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      <h1>Search</h1>

      {% include site-search.html %}

      <hr style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 50%);">

      <h1>Categories</h1>

      {{ content }}

    </article>

    {% include post-categories.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html align="left" %}{% endif %}

</main>

{% include site-footer.html %}
