---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  {% if page.aside == true %}{% include site-aside.html align="left" %}{% endif %}

  <div class="content">

    <div class="user-toggle">
      <div role="status" class="[ visually-hidden ][ js-mode-status ]"></div>
      <button class="[ toggle-button ] [ js-mode-toggle ]" style="float:right;">
        <span class="[ toggle-button__text ] [ js-mode-toggle-text ]">Enable dark mode</span>
        <span class="toggle-button__icon" aria-hidden="true"></span>
      </button>
    </div>

    <article class="article  article--page  typeset">

      <h1>Search</h1>

      {% include site-search.html %}

      <hr style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 50%);">

      <h1>Categories</h1>

      {{ content }}

    </article>

    {% include post-categories.html %}

  </div>

</main>

{% include site-footer.html %}
