---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <div class="user-toggle">
      <div role="status" class="[ visually-hidden ][ js-mode-status ]"></div>
      <button class="[ toggle-button ] [ js-mode-toggle ]" style="float:right;">
        <span class="[ toggle-button__text ] [ js-mode-toggle-text ]">Enable dark mode</span>
        <span class="toggle-button__icon" aria-hidden="true"></span>
      </button>
    </div>

    <h1>{{ page.title }}</h1>

    {{ content }}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
